
h1 {
  font-weight: bold;
}

#classicformpage .view,
.quizPage {
  background-image: url("https://i.ibb.co/7jyJLpR/back-Ground.png")!important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

#classicformpage .gradient, 
.quizPage {
  background: -webkit-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.7),
    rgba(72, 15, 144, 0.4) 100%
  );
  background: -webkit-gradient(
    linear,
    45deg,
    from(rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%)
  );
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.7),
    rgba(72, 15, 144, 0.4) 100%
  );
}

#classicformpage .card{
  background-color: rgba(126, 123, 215, 0.2);
}

#classicformpage h6 {
  line-height: 1.7;
}

#classicformpage .navbar {
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

#classicformpage .top-nav-collapse,
.quizPage {
  background: #424f95 !important;
}

@media (max-width: 768px) {
  #classicformpage .navbar:not(.top-nav-collapse) {
    background: #424f95 !important;
  }
}

#classicformpage label,
.quizPage {
  color: #fff !important;
}
.col-md-12.mb-4.white-text.text-center {
  margin-right: 16px;
  max-width: 500px;
  margin-left: 54%;
}

.categories {
  margin-top : 64px;
  margin-bottom : 24px;
  padding:16px;
}
section {
  background-image: url("https://i.ibb.co/7jyJLpR/back-Ground.png");
}
.heroCard {
  color: #fff !important;
}

/* Styling the quizPage */

.questions {
  border-left: 10px solid rgba(8, 8, 72, 0.721) !important; 
  width:80%;
  padding: 16px;
  background-color:rgba(92, 16, 159, 0.303) !important;
  color: #fff !important;
}

