
h1 {
  font-weight: bold;
}

#classicformpage .view,
.quizPage {
  background-image: url("https://i.ibb.co/7jyJLpR/back-Ground.png")!important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}
#classicformpage > div.view > div > div > div.button-contaier > button:nth-child(2) {
  color: black !important;
  margin: 12px  !important;
}
#classicformpage .gradient {
  background: -webkit-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.7) !important,
    rgba(72, 15, 144, 0.4) 100%
  );
  background: -webkit-gradient(
    linear,
    45deg,
    from(rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%)
  );
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.7),
    rgba(72, 15, 144, 0.4) 100%
  );
}

#classicformpage .card{
  background-color: rgba(126, 123, 215, 0.2) !important;
}

#classicformpage h6 {
  line-height: 1.7 !important;
}

#classicformpage .navbar {
  transition: backgroundColor 0.5s ease-in-out , padding 0.5s ease-in-out !important;
}

#classicformpage .top-nav-collapse,
 {
  background: #424f95 !important;
}
#classicformpage > div:nth-child(1) > header > nav {
  background: none !important ;
}


@media (max-width: 768px) {
  #classicformpage .navbar:not(.top-nav-collapse) {
    background: #424f95;
  }
}

#classicformpage label,
.quizPage {
  color: #fff !important;
}
.col-md-12.mb-4.white-text.text-center {
  margin-right: 16px;
  max-width: 500px;
  margin-left: 54%;
}

.categories {
  margin-top : 64px;
  margin-bottom : 24px;
  padding:16px;
}
section {
  background-image: url("https://i.ibb.co/7jyJLpR/back-Ground.png");
}
.heroCard {
  color: #fff !important;
}

/* Styling the quizPage */

.questions {
  border-left: 10px solid rgba(8, 8, 72, 0.721) !important; 
  width:100%;
  padding: 16px;
  background-color:rgba(92, 16, 159, 0.303) !important;
  color: #fff !important;
}
.lifeLine-container {
  display: flex;
  justify-content: space-between;
}

.lifeLine {
  position: relative;
  top: -3px;

}
h5 {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom:16px;
  display: flex;
  padding: 8px;

}
.option-container {
  display: inline-flex !important;
  width: 100%!important;
  padding: 8px 0 0 0 !important;
}
.option {
   cursor: pointer !important;
   transition: .3s linear all !important;
   text-align: center !important;
   width: 60% !important;
 
}
.btn-default:hover { 
  background-color:#424f95 !important;
}
.a.btn{
   font-size: 1rem !important;
    padding: 16px !important;
    margin: 6px !important;
    width: 50% !important;
}

a.btn,
.purple-gradient:hover {
  background-color: white !important;
 
}
.py-3 .px-md-5 {
  margin-top: -0.25rem !important;
  padding-left: 16px !important;
    align-items: initial;
    display: flex;
}
@media (min-width: 768px) {
.pl-md-5, .px-md-5 {
    padding-left: 0!important; 
    padding-left: 16px !important;
    align-items: left !important;
    display: flex;
}
}
@media (min-width: 768px){
.pl-md-5, .px-md-5 {
    padding-left: 0!important;
}
.pb-3, .py-3 {
    padding-bottom: 0 !important; 
}
.pt-3, .py-3 {
    padding-top: 0 !important; 
    margin-left: 0 !important; 
}
}

.btn, .btn-large, .btn-small, .btn-flat {
  border: none;
  border-radius: 2px !important;
  display: inline-block !important;
  height: 36px;
  line-height: 36px !important;
  padding: 0 16px !important;
  text-transform: uppercase !important;
  vertical-align: middle !important;
  -webkit-tap-highlight-color: transparent;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%) !important;
}
.bgPink{ 
  background-color: none !important;
}